body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   /* max-width: 280px;*/
}
.progress-xs {
    height: 8px;
}

.progress-sm {
    height: 12px;
}

 .progress {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
}
 .secure_bg{
     background:#f5f5f5;
 }
.progress-bar-greenbg{
    background:#0a7a3c;
}
.progress.progress-sm 			{height: 5px;}
.progress.progress-xs 			{height: 7px;}
.progress.progress-md 			{height: 7px;}
.progress.no-rounded 			{border-radius: 0px;}
.progress-bar {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0);
}

.progress-bar-primary 			{background-color: #3199d3;}
.progress-bar-success 			{background-color: #702663;}
.progress-bar-info 				{background-color: #719d40;}
.progress-bar-warning 			{background-color: #F6BB42;}
.progress-bar-danger 			{background-color: #931212;}
.progress-bar-white 			{background-color: #ffffff;}
.progress-bar-green			{background-color: #089353;}
.progress-bar-blue			{background-color: #0ca7cc;}
.progress-bar-black			{background-color: #000000;}
.info .icon-bg{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 130px;
    color: #fff;
    opacity: 0;
    filter:alpha(opacity=10);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.heat .ic-bg{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 130px;
    color: #fff;
    opacity: 0.2;
    filter:alpha(opacity=8);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.icon_boxed{

    position: absolute;
    right: 43%;
    color:#ffffff;
    bottom:24%;
    width: 70px;
    height:70px;
    line-height:70px;
    vertical-align:middle;
    text-align:center;
    font-size:30px;

    /*border: 1px solid #D5DAE0;*/
}

.set_m_icon{
    border-radius:50px;
    border: 1px solid #ffffff;

}

#feeds{
    max-height: 700px;
    overflow-y: auto;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    display: inline-block;
    font-size: 80%;
    list-style: none;
    line-height: 18px;
    vertical-align: text-top;
    font-weight: bold;
    
    }
  .my-legend ul.legend-labels li span {
    display: inline-block;
    height: 16px;
    width: 20px;
    margin-right: 5px;
    margin-left: 10px;
    border: 1px solid #999;
    }

  .my-legend a {
    color: #777;
    }